<!DOCTYPE html>
<html>
    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Rango says..hello world!</h1>

        {% if categories %}
            <ul>
                {% for category in categories %}
                <!-- Following line changed to add an HTML hyperlink -->
                <li><a href="/rango/category/{{ category.slug }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
       {% else %}
            <strong>There are no categories present.</strong>
       {% endif %}
	   <a href="/rango/about/">About</a><br />
	   <h1>Top 5 Pages:</h1>
			<ol>	   
			{% for page in top5pages %}
			<li> <a href="{{page.url}}">{{page.title}}</a></li>
			{% endfor %}
			</ol>
		<a href="/rango/add_category/">Add a New Category</a><br /> <!-- See tango with django ch 8 -->
    </body>
</html>