{% extends 'base.html' %}
    {% block body_block %}
        {% if categories %}
            <ul>
                {% for category in categories %}
                    <li><a href="{% url 'category'  category.slug %}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
       {% else %}
            <strong>There are no categories present.</strong>
       {% endif %}
	   <h1>Top 5 Pages:</h1>
			<ol>
			{% for page in top5pages %}
			<li> <a href="{{page.url}}">{{page.title}}</a></li>
			{% endfor %}
			</ol>
    {% endblock %}